@use '../_variables/variables' as *;
@use '../_mixins/devices' as *;

.sidebar {
  background-color: $color-white;
  width: 20%;
  height: 100%;
  position: fixed;
  box-shadow: inset 1px 0px 4px 1px $color-secondary;
  z-index: 10;
  transition: all .3s ease-in;
  overflow-y: auto;

  // Media-Queries
  @include tablet {
    // ocultamos el sidebar
    left: -30%;
    width: 30%;
  }
  
  @include smartphone-medium {
    width: 100%;
    left: -100%;
    text-align: center;
  }

  @include smartphone {
    width: 100%;
    left: -100%;
    text-align: center;
  }

   .sidebar-list {
     
    a {
      color: $color-secondary;
      display: block;
      font-size: 1.1rem;
      margin: auto;
      transition: all .3s ease-out;
      padding: 10% 30%;
      border-radius: 0;

      &:hover {
        background-color: #dfdfdfb8;
        transition: all .3s ease-in;
      }
   
      // Reducimos el padding de los links en el menu
      @include tablet {
        padding: 10% 25%;
      }

      @include smartphone-medium {
        padding: 6% 25%;
      }
    }


    // Modificamos el icono de cerrar el menu
    .close-menu {
      display: none;
    
      @include tablet {
        display: block;
      }

      i {
        padding-top: 0;
        text-align: center;
        font-size: 3rem;
        padding: 0% 20% 25% 40%;
        color: $color-secondary;

        @include smartphone {
          padding-left: 20%;
        }
        
        @include smartphone-medium {
          padding-left: 20%;
          padding-bottom: 10%;
        }

      }
    }

    // para recorrer el padding del menu de cerrar
    &:first-child {
      padding-top: 25%;
    }

    @include smartphone-medium {
      
      &:first-child {
        padding-top: 13%;
      }

    }
  }

}

// Es para volver a mostrar el menu de sidebar
.show-sidebar {
  left: 0;
  transition: all .3s ease-in;
}

